1. Прочесть с помощью pandas файл **california_housing_test.csv**, который находится в папке **sample_data**.
2. Посмотреть сколько в нем строк и столбцов.
3. Определить какой тип данных имеют столбцы.

In [2]:
# Прочесть с помощью pandas файл california_housing_test.csv, который находится в папке sample_data.

import pandas as pd

df = pd.read_csv("sample_data/california_housing_test.csv")

df.head()

ModuleNotFoundError: No module named 'pandas'

In [15]:
# Посмотреть сколько в нем строк и столбцов.

df.shape

(3000, 9)

In [16]:
# Определить какой тип данных имеют столбцы.

df.dtypes

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
dtype: object

1. Проверить есть ли в файле пустые значения.
2. Показать **median_house_value** где **median_income < 2**.
3. Показать данные в первых 2 столбцах.
4. Выбрать данные где **housing_median_age < 20** и **median_house_value > 7000**.

In [ ]:
# Проверить есть ли в файле пустые значения.

df.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
dtype: int64

In [3]:
# Показать median_house_value где median_income < 2.

df[df["median_income"] < 2][["median_house_value", "median_income"]]

NameError: name 'df' is not defined

In [12]:
# Показать данные в первых 2 столбцах.

df[df.columns[0:2]]

       longitude  latitude
0        -114.31     34.19
1        -114.47     34.40
2        -114.56     33.69
3        -114.57     33.64
4        -114.57     33.57
...          ...       ...
16995    -124.26     40.58
16996    -124.27     40.69
16997    -124.30     41.84
16998    -124.30     41.80
16999    -124.35     40.54

[17000 rows x 2 columns]

In [ ]:
# Выбрать данные где housing_median_age < 20 и median_house_value > 7000.

df[(df["housing_median_age"] < 20) & (df["median_house_value"] > 7000)]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
7,-120.65,35.48,19.0,2310.0,471.0,1341.0,441.0,3.2250,166900.0
8,-122.84,38.40,15.0,3080.0,617.0,1446.0,599.0,3.6696,194400.0
13,-117.03,32.97,16.0,3936.0,694.0,1935.0,659.0,4.5625,231200.0
16,-120.81,37.53,15.0,570.0,123.0,189.0,107.0,1.8750,181300.0
...,...,...,...,...,...,...,...,...,...
2981,-120.66,35.49,17.0,4422.0,945.0,2307.0,885.0,2.8285,171300.0
2984,-117.59,33.88,13.0,3239.0,849.0,2751.0,813.0,2.6111,107000.0
2985,-120.47,34.94,17.0,1368.0,308.0,642.0,303.0,1.8633,109400.0
2991,-117.17,34.28,13.0,4867.0,718.0,780.0,250.0,7.1997,253800.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0

1. Определить какое максимальное и минимальное значение **median_house_value**.
2. Показать максимальное **median_house_value**, где **median_income = 3.1250**.
3. Узнать какая максимальная **population** в зоне минимального значения **median_house_value**.

In [ ]:
# Определить какое максимальное и минимальное значение median_house_value.

df["median_house_value"].max(), df["median_house_value"].min()

(500001.0, 22500.0)

In [ ]:
# Показать максимальное median_house_value, где median_income = 3.1250.

df[df["median_income"] == 3.1250]["median_income"].max()

3.125

In [17]:
# Узнать какая максимальная population в зоне минимального значения median_house_value.

df[df["median_house_value"] == df["median_house_value"].min()]["population"].max()

1230.0

1. Работать с файлом **california_housing_train.csv**, который находится в папке **sample_data**. Определить среднюю стоимость дома, где кол-во людей от **0** до **500** (**population**).
2. Узнать какая максимальная **households** в зоне минимального значения **population**.

In [6]:
# Работать с файлом california_housing_train.csv, который находится в папке sample_data. Определить среднюю стоимость дома, где кол-во людей от 0 до 500 (population).

import pandas as pd

df = pd.read_csv("sample_data/california_housing_train.csv")

print(round(df[(df["population"] > 0) & (df["population"] <= 500)]["median_house_value"].mean()))

206800

In [18]:
# Узнать какая максимальная households в зоне минимального значения population.

import pandas as pd

df = pd.read_csv("sample_data/california_housing_train.csv")

print(max(df[(df["population"]) == min(df["population"])]["households"]))

4.0